<div class="col-lg-12">
	<div class="jumbotron jumbotron-fluid text-center mt-5">
	  <div class="container">
	    <h1 class="display-4">{{page_title}}</h1>
	    <p class="lead">Comparte tus dudas, aprende y ayuda a otros desarrolladores  ;-)</p>
	    <p *ngIf="identity">
	    	<a class="btn btn-primary btn-lg mr-3" [routerLink]="['/temas']">Ver temas</a>
	    	<a class="btn btn-success btn-lg mr-3" [routerLink]="['/usuarios']">Ver compañeros</a>
	    	<a class="btn btn-warning btn-lg mr-3" [routerLink]="['/panel/crear']">Añade nuevo tema</a>
	    </p>

	    <p *ngIf="!identity">
	    	<a class="btn btn-primary btn-lg mr-3" [routerLink]="['/login']">Identificate</a>
	    	<a class="btn btn-success btn-lg mr-3" [routerLink]="['/registro']">Registrate</a>
	    </p>
	  </div>
	</div>
</div>